<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/registro.css">
    <title>Tu amigo Inteligente</title>
</head>
<body>
    <div class="container-form registro">
        <div class="information">
            <div class="info-childs">
                <img src="../static/img/logobot1.png" alt="logo" >
                <h2> Bienvenido </h2>
                <p> Unete y disfruta de explorar tus 
                conocimientos con tu amigo inteligente, si ya tienes tu cuenta inicia sesión con tus datos </p>
                <input type="button" value="Iniciar Cesión" id="sign-in">
                 
            </div>

        </div>
        <div class="form-information">
            <div class="form-information-child">
                <h2>Crea una cuenta</h2>
                <p> coloca tus datos </p>
                <form class="form">
                    <label >
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre completo">
                    </label>
                    <label>
                         <i class='bx bx-plus' ></i>         
                         <input type="text" placeholder="Coloca tu edad">
                    </label>
                    <label >
                           <i class='bx bx-book-bookmark' ></i>
                           <input type="text" placeholder="Coloca tu grado">
                    </label>
                    <label >
                        <i class='bx bx-envelope' ></i>
                        <input type="email" placeholder="Ejemplo@gmail.com">
                    </label>
                    <label >
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password" placeholder="Contraseña">
                    </label>
                    
                    <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>

    </div>



    <div class="container-form login hide">
        <div class="information">
            <div class="info-childs">
                <img src="../static/img/logobot1.png" alt="logo">
                <h2> ¡¡Bienvenido nuevamente!! </h2>
                <p> Para unirte a nuestra comunidad porfavor registra tus datos</p>
                <input type="button" value="Registrarse" id="sign-up">
                 
            </div>

        </div>
        <div class="form-information">
            <div class="form-information-child">
                <h2>Inicia Sesión</h2>
                <p> Iniciar sesión con tu cuenta </p>
                <form class="form">
                    <label >
                        <i class='bx bx-envelope' ></i>
                        <input type="email" placeholder="ejemplo@gmail.com">
                    </label>
                    <label >
                        <i class='bx bx-lock-alt' ></i>
                        <input type="password" placeholder="Contraseña">
                    </label>
                    
                    <input type="submit" value="Iniciar Sesión">
                </form>
            </div>
        </div>

    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>